[Unit]
Description = uWSGI service
After = syslog.target

[Service]
ExecStart = /path/to/uwsgi -i /path/to/django/project/.config/uwsgi/ProjectName.ini

Restart = always
KillSignal = SIGQUIT
Type = notify
StandardError = syslog
NotifyAccess = all

[Install]
WantedBy = multi-user.target
